<head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css ">
</head>
<body>
<div class="page-header">
    <h1>Bienvenido!</h1>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div style="margin-top: -25px; margin-bottom: 25px;">
            <h2>Comunidades:</h2>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6"> 
            <div class="panel panel-default panel_juegos" >
                <div class"panel-body">
                  <img class="img-responsive center-block" src="https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-272x380.jpg">
                </div>
                <div class="panel-footer">
                    <h4>League of Legends</h4>
                    <a href="#" class="btn btn-primary">Join</a>
                </div>
            </div>
        </div>
        <!--<div ng-repeat="community in communities | orderBy: '-title'">
            
        </div>-->
    </div>
</div>
</body>

