<head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css ">
</head>
<body>
    <div class="page-header">
        <div>
            <input style="margin-left: 300px;" ng-model="stringSearch" ng-keyup="searchInCommunities()" type="text" class="form-control" placeholder="Search in communities...">
        </div>
    </div>
    <div class="panel panel-default" style="margin-right: -655px;">
        <div class="panel-body"style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 0px;">
            <div style="margin-top: -25px; margin-bottom: 25px;">
                <h2>Communities:</h2>
            </div>
            <!--TODO: Mejorar mensaje de suscripcion cuando el usuario no ha iniciado sesión-->
            <!--TODO: Revisar suscribir y desuscribir, no funcionan correctamente, desuscriben juegos que no son el pulsado-->

            <div ng-repeat="community in communities | orderBy: '-title'">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="panel panel-default panel_juegos" style="height: 442px">
                        <div class="panel-body" >
                            <a href="#/community/{{community._id}}"><img class="img-responsive center-block" src="{{community.image}}" style="height: 325px"></a>
                        </div>
                        <div class="panel-footer">

                            <div style="height: 50px;">
                                <p style="font-size: 16px;">{{community.name}}</p>
                            </div>

                            <p>{{community.subs}}</p>

                            <span ng-show="isLoggedIn() && isSubscribed(community)" ng-click="subscribe(community)">
                                <a class="btn btn-primary ">Subscribe</a>
                            </span>
                            <span ng-show="isLoggedIn() && !isSubscribed(community)" ng-click="unSubscribe(community)">
                                <a class ="btn btn-warning "> Unsubscribe</a>
                            </span>
                            <span ng-show="!isLoggedIn()">
                                <p>You have to be logged in to subscribe</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

