@media (max-height: 100px) {}
body {
    padding-top: 70px;
    margin-right: -1000px;
    margin-left: 250px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.panel_juegos > .panel-body {
    padding: 0px;
}
.panel_juegos > .panel-body > img {
    width: 100%;
    height: 100%;
}
.panel_juegos > .panel-footer {
    text-align: center;
}
