<html>
    <head>
        <title>Gammit</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    </head>

    <body ng-app="APSocial">
      <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl">
          <div class="container-fluid">
              <div style="margin-left: 250px;"class="navbar-header">
                  <a style="margin-top: -10px; font-size: 35px;" class="navbar-brand" href="#"><span class = "glyphicon glyphicon-tower"></span>Gammit</a>
              </div>
              <form class="navbar-form navbar-left">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button style="font-size: 20px;" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </form>
              <ul class="nav navbar-nav pull-left">
                  <li><a style="font-size:20px;" href="#"><span class="glyphicon glyphicon-th"></span> Explore</a></li>
              </ul>
              <ul class="nav navbar-nav pull-left">
                  <li ng-show="isLoggedIn()"><a style="font-size:20px;" href="#"><span class="glyphicon glyphicon-heart"></span> Subscriptions</a></li>
              </ul>
              <ul class="nav navbar-nav pull-right">
                  <li ng-show="isLoggedIn()"><a><span class="glyphicon glyphicon-user"></span> {{ currentUser() }}</a></li>
                  <li ng-show="isLoggedIn()"><a href="#"><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
                  <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                  <li ng-hide="isLoggedIn()"><a href="/#/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                  <li ng-hide="isLoggedIn()"><a href="/#/register"><span class="glyphicon glyphicon-pencil"></span> Register</a></li>
              </ul>
          </div>
      </nav>

      <div class="row">
            <div class="col-md-6" style="margin-left:10px;">
                <ui-view></ui-view>
            </div>
      </div>
    </body>
<html>
